body, html {
  height: 100%;
}

li a{
  color: black;
  font-size: 17px;
}

#navbar {
  background-color: #A39B37;
}

#copyright {
  background-color: black;
}

.imgCarrusel {
  height: 100vh;/*91vh*/
  /*margin-top: 61px;*/
}

.texto {
  color: black;
  background-color:white;
  text-align: center;
  padding:50px 80px;
  text-align: justify;
  width: 80%;
  border-radius: 5px;
  opacity: 0.80;
}

.texto h3 {
  text-align: center;
}

/*INICIO PARALLAX*/
.parallax {
  /* The image used */
  background-image: url("/images/working.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("/images/working.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/images/working.jpg");
  min-height: 200px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #D4C46A;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 5px;
  opacity: inherit;
}

.caption span.subTitle {
  background-color: transparent;
  color: black;
  padding: 18px;
  font-size: 30px;
  letter-spacing: 10px;
  border-color: black;
}

@media only screen and (max-device-width: 1024px) {
  /* .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  } */
  #mapa {
    width: 300px;
  }
}
/*FIN PARALLAX*/
